
<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="viewContacts">PhoneBookApplication</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" routerLink="viewContacts">Home</a> -->
          <!--Add Contact-->
          <a class="btn btn-primary" (click)="open(content)" (click)="modalTitle = 'Add a New Contact'">Add Contact</a>
          <!--Add Contact-->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav bar-->

<!--saveMsg-->
<!-- <ng-container *ngIf="saveMsg!=''|| null">{{saveMsg}}</ng-container> -->
<!--saveMsg-->

<!--contacts list table-->
<div>
  <div><h4 class="text-center mt-2 mb-1">List of Contacts</h4></div>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone No</th>
      <th scope="col">Status</th>
      <th scope="col">Created Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts | activeStatus; index as i" >
      <!-- <th scope="row">{{ i + 1 }}</th> -->
      <td>{{ contact.contactId }}</td>
      <td>{{ contact.contactName | uppercase }}</td>
      <td>{{ contact.contactEmail  }}</td>
      <td>{{ contact.phoneNumber  }}</td>
      <td>{{ contact.activeSw }}</td>
      <td>{{ contact.createdDate | date  }}</td>
      <td>{{ contact.updatedDate | date }}</td>
      <td>
        <a class="btn btn-outline-success" (click)="editContact(contact.contactId,content)" (click)="modalTitle = 'Edit Contact'">Edit</a>
        &nbsp;&nbsp;
        <a class="btn btn-outline-danger" (click)="deleteContact(contact.contactId,deleteModal)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--contacts table-->

<hr>
<!-- <pre>{{ closeResult }}</pre> -->
<!-- <pre>{{ delConfRes }}</pre> -->
-->
<hr>

<!--modal html-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close btn btn-danger btn-block" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="phoneBookInsert" (ngSubmit)="addContact(phoneBookInsert)">
      <div class="form-group">
          <label for="contacName">Name :</label>
          <input id="contaName" type="text" formControlName="contactName" class="form-control"> <br/>
          <label>Email : </label>
          <input type="email" formControlName="contactEmail" class="form-control"><br/>
          <label>Phone Number : </label>
          <input type="number" formControlName="phoneNumber" class="form-control"><br/>
          <br/>
          <button type="submit" [disabled]="!phoneBookInsert.valid" (click)="modal.close('Save click')" class="btn btn-success btn-block">Add Contact</button>
          &nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-outline-dark">Reset</button>

          <!-- <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div> -->

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>

<!--modal html-->


<!--delete modal-->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
    <button type="button" class="close btn btn-danger btn-block" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{delConfMsg}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="modal.close('Back click')">Back</button>
  </div>
  <!--delete modal-->


